{% if site.logo contains '://' %}
  {% assign site_logo = site.logo %}
{% else %}
  {% assign site_logo = site.logo | relative_url %}
{% endif %}

<header id="masthead">
  <div class="inner">
    <div class="title-area">
      <div class="left">
        <h1 class="site-title">
          <a href="{{ '/' | relative_url }}">
            {% if site.logo %}<img src="{{ site_logo }}" alt="" class="site-logo">{% endif %}
            <span>{{ site.title | escape }}</span>
          </a>
          {% if page.date %}
            <span class="date">Date: {{ page.date }}</span>
          {% endif %}
        </h1>
      </div>

      <div class="right align-right">
        <a href="/" class="btn">Register</a>
        <div>(Will be open soon)</div>
      </div>
    </div>
  </div>
</header>
